<section data-controller="network-test" data-network-test-url-value=<%= home_url %> >
  <button data-action="network-test#test">Press me!</button>
  <div id='result' data-network-test-target="message"></div>
</section>
