<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<section data-controller="network-test" data-network-test-url-value=<%= static_pages_network_test_url %> >
  <button data-action="network-test#test">Press me!</button>
  <div id='result' data-network-test-target="message"></div>
</section>
